[Unit]
Description=Post Citadel Setup
After=oem-boot.service network-online.target

[Service]
Type=simple
User=citadel
ExecStart=/usr/local/sbin/citadel-post.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target