[Unit]
Description=Setup Citadel
After=oem-boot.service network-online.target
Wants=network-online.target

[Service]
Type=simple
User=citadel
WorkingDirectory=/home/citadel
ExecStart=/usr/local/sbin/citadel-setup.sh
ExecStop=/usr/bin/pm2 resurrect
StandardOutput=journal
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
