[Unit]
Description=Citadel OEM Fast
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/citadel-oem-fast.sh
ExecStartPost=/usr/local/sbin/citadel-oem-teardown.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target